body {
    background-color: #0d1b2a;
    color: white;
    font-family: Arial, sans-serif;
}

.custom-nav {
    background-color: #0f1a25;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1540747913346-19e32dc3e97e');
    background-size: cover;
    background-position: center;
}

.section-title {
    color: #00BFFF;
    font-weight: bold;
}
.team-card img {
    width: 100%;
    height: 150px;        
    object-fit: contain; 
    padding: 10px;        
}

.btn-theme {
    background-color: #00BFFF;
    color: black;
    font-weight: bold;
}
.team-card {
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-card img {
    max-width: 100%;
    max-height: 120px;
    object-fit: contain;
}

.btn-theme:hover {
    background-color: #0099cc;
}

.team-card, .player-card {
    background-color: #112b45;
    border: none;
    transition: 0.3s;
}

.team-card:hover, .player-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00BFFF;
}
.mi{
    height: 16vh;
}
.text{
    color: #a818ad;
}
.nav-link:hover{
    background-color: #2baae0;
    border-radius: 10px;
}
.logo{
    height: 11vh;
   
   
}
.text1{
    color: #ff5a24;
}
.text2{
    color: #2c84f8;
}
.text3{
    color: #e50693;
}
.text4{
    color: #2b62eb;
}
.text5{
    color: #d33046;
}
.iyer{
    color: #6339c9;
}
.pant{
    color: #e91e8a;
}
/* body{
background:#1d50b8;
font-family:Arial;
} */
body{
background: linear-gradient(135deg,#000000,#1a1a1a,#0e23e0);
min-height:100vh;
}
.custom-nav{
background: rgba(0,0,0,0.8);
backdrop-filter: blur(10px);
}


.title{
color:white;
text-align:center;
margin-top:40px;
font-size:35px;
font-weight:bold;
}


.points-table{
margin-top:50px;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 0 20px rgba(0,0,0,0.3);
}


.table thead{
background:#111111;
color:white;
}


.table tbody tr:hover{
background:#f1f5ff;
transform:scale(1.01);
transition:0.3s;
cursor:pointer;
}
/* body{
background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
min-height:100vh;
} */


.glass-table{
background: rgba(7, 7, 7, 0.08);
backdrop-filter: blur(10px);
border-radius:15px;
padding:20px;
border:1px solid rgba(255,255,255,0.2);
}


.team{
display:flex;
align-items:center;
gap:10px;
}

.team img{
width:35px;
height:35px;
}


tbody tr{
transition:0.4s;
}

tbody tr:hover{
transform:scale(1.02);
background:rgba(255,255,255,0.15);
cursor:pointer;
}


.top4{
background:rgba(31, 94, 228, 0.15);
animation: glow 2s infinite alternate;
}






.points{
    color: #00BFFF;
}
#records .card{
transition:0.3s;
border-radius:15px;
}

#records .card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #00BFFF;
}
.gallery-card{
overflow:hidden;
border-radius:10px;
}

.gallery-card img{
transition:0.4s;
width:100%;
height:250px;
object-fit:cover;
}

.gallery-card:hover img{
transform:scale(1.1);
box-shadow:0 0 15px #00BFFF;
}
.news-card{
border-radius:15px;
overflow:hidden;
transition:0.3s;
}

.news-card img{
height:200px;
object-fit:cover;
}

.news-card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #00BFFF;
}
.video-card{
transition:0.3s;
border-radius:15px;
overflow:hidden;
padding:10px;
background:#111;
}

.video-card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #00BFFF;
}

.video-card iframe{
border-radius:10px;
}
.cap-card{
background:#111;
border-radius:20px;
padding:20px;
transition:0.3s;
}

.cap-card:hover{
transform:translateY(-10px);
box-shadow:0 0 25px #00BFFF;
}

.cap-img{
width:150px;
height:150px;
object-fit:cover;
border:4px solid white;
}

.orange-card{
border:2px solid orange;
}

.purple-card{
border:2px solid #8e44ad;
}
body{
background: linear-gradient(135deg,#000000,#0a0a0a,#1a1a1a);
min-height:100vh;
color:white;
}
.footer-section{
background:#000;
}

.footer-link{
color:#ccc;
text-decoration:none;
display:block;
margin:5px 0;
transition:0.3s;
}

.footer-link:hover{
color:#00BFFF;
padding-left:5px;
}

.social-icon{
font-size:22px;
margin-right:10px;
color:white;
transition:0.3s;
text-decoration:none;
}

.social-icon:hover{
color:#00BFFF;
transform:scale(1.2);
}